{% extends 'base.html.twig' %}
{% block title %}Romain Laurent, portfolio développeur web, Ollioules,Var 83{% endblock %}
{% block body %}
    <header id="head">
        <div class="container-fluid reveal">
            <div class="row">
                <h1 class="lead reveal-1">Développeur Web freelance</h1>
                <h2 class="tagline reveal-2">Réalisation de sites et applications Web</h2>
                <div class="separator_black reveal-2"></div>
                <p class="tagline2 reveal-2">Romain Laurent</p>
            </div>
        </div>
    </header>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro reveal">
                <img class="intro-img img-fluid mb-3 mb-lg-0 reveal-4" src="{{ asset('images/portfolio13.jpg') }}"
                     alt="romain laurent">
                <div class="intro-text left-0 text-center bg-faded reveal-2">
                    <h1 class="section-heading mb-4 reveal-3">
                        <span class="section-heading-upper service">Mes services</span>
                        <span class="section-heading-lower">Des prestations adaptées à vos besoins</span>
                    </h1>
                    <p class="mb-3 reveal-4  intro-article">
                        Vous recherchez un développeur web pour vous épauler techniquement ?
                        Ou bien vous voulez tout simplement profiter des opportunités du web pour développer votre
                        activité ?
                    </p>
                    <p class="mb-3 reveal-4  intro-article2"> "Je vous accompagne dans la création d'une solution web
                        sur mesure et entièrement administrable."</p><br>
                </div>
            </div>
        </div>
    </section>
    <div class="container text-center reveal conception-section">
        <h1 class="thin reveal-1">Conception de sites Web</h1>
        <div class="separator_auto reveal-4"></div>
        <h2 class="pme-title reveal-2">
            PME, associations ou particuliers, je réponds à vos besoins en développement web.<br>
            D’un naturel curieux et créatif, je recherche perpétuellement la meilleure solution pour mener à bien vos
            projets.<br>Avec moi il n'y a pas de prix pré-faits, uniquement des devis étudiés en fonction de votre projet.<br>
            Pas d'engagement, pas de contraintes, vous souhaitez une prestation web, on en discute et je vous livre.
        </h2>
        <div class="reveal-4 text-center">
            <a class="btn btn-action btn-sm" role="button" href="#footer">devis gratuit</a>
        </div>
        <img class="reveal-2 code-img" src="{{ asset('images/code.png') }}" alt="developement web"/>
    </div>
    <section class="page-section about-heading" id="about">
        <div class="container reveal">
            <img class="img-fluid about-heading-img mb-3 mb-lg-0 reveal-4" src="{{ asset('images/portfolio18.jpg') }}"
                 alt="portfolio developpeur">
            <div class="about-heading-content reveal-1">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 mx-auto">
                        <div class="bg-faded text-about">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Gestion de projet web</span>
                            </h2>
                            <article title="intro" class="gestion-projet">
                                <p class="reveal-4">- Création de site vitrine, blog, corporate, évènementiel, e-commerce,
                                    application
                                    web.</p>
                                <p class="mb-0 reveal-4">
                                    - Des intégrations HTML/CSS/JS respectueuses des standards du web.
                                    Compatible tous supports (téléphone, tablette...) grâce au responsive design.
                                </p>
                                <p class="mb-0 reveal-4">
                                    - Outils spécifiques au bon fonctionnement de votre entreprise, interface
                                    d'administration ou application de gestion.
                                </p>
                                <p class="mb-0 reveal-4">
                                    - Pages dynamiques, single-page application/API Rest, des animations de contenu
                                    pour embellir votre projet
                                </p>
                                <p class="mb-0 reveal-4">
                                    - Référencement naturel SEO, affichage sémantique des informations, de belles pages
                                    pour un référencement optimal
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="about-heading-content2 reveal-3">
                        <div class="col-xl-6 col-lg-5">
                            <div class="bg-faded text-about">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Hébergement web</span>
                                </h2>
                                <p class="reveal-4 heberg-title">
                                    Création du nom de domaine, hébergement mutualisé ou sur un serveur, je vous
                                    propose une assistance à la configuration de votre hébergement, ainsi qu'à la mise
                                    en production du projet.
                                </p>
                                <div class="reveal-4 text-center">
                                    <a class="btn btn-action btn-sm" target="_blank" rel="noopener" role="button"
                                       href="https://romdev.info" title="romwebsite">plus d'infos</a>
                                </div>
                            </div>
                            <img class="reveal-4 experience-img"
                                 src="{{ asset('images/portfolio2.jpg') }}" alt="romdev portfolio"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="skills" id="skills">
        <div class="container reveal">
            <div class="row">
                <div class="col-md-7">
                    <div class="skill_content">
                        <h1 class="reveal-1 exp-title">Mes compétences</h1>
                        <div class="separator_left reveal-4"></div>
                        <article title="a propos" class="competence-article">
                            <p class="reveal-3">
                                Développeur back-end et front-end depuis 10 ans, je prends le temps d'écouter, de
                                conseiller, afin de créer un site internet accessible, optimisé, fiable, qui répond à
                                toutes les attentes de l'utilisateur.
                            </p><br>
                            <p class="mb-0 reveal-4">
                                Je me forme constamment et développe plusieurs projets personnels, ce qui
                                permet d'acquérir sans cesse de nouvelles capacités et d'améliorer mes compétences.
                                Ma veille permanente des solutions et des techniques actuelles vous
                                apporte une expertise web et des développements de qualité, maintenables sur le long
                                terme.
                            </p><br>
                            <p class="reveal-2">
                                Ces compétences diverses me permettent la réalisation de sites web ou d'applications
                                avec interface d'administration de base de données, de la conception à la mise en
                                ligne (environnement Linux ou Windows). J'optimise mon code pour un bon
                                référencement naturel SEO dans les moteurs de recherche, et mes projets sont entièrement
                                responsive.
                            </p><br>
                            <p class="reveal-3">
                                Les principales technologies que j'ai été amené à utiliser sont le PHP, avec ou sans
                                framework,
                                mais je me sers principalement de frameworks depuis quelques années
                                (Laravel, Symfony), et le Javascript (VueJs, Node.js, ou Vanilla).
                                Et bien sur tous les langages web basiques, HTML, CSS, SASS ect... J'utilise souvent
                                le fonctionnement API, pour des single-page-applications ou web-apps.
                            </p>
                        </article>
                        <div class="container competence-container">
                            <p class="reveal-4">
                                <img class="img-fluid mb-3 mb-lg-0 competence-img"
                                     src="{{ asset('images/competence.jpg') }}"
                                     alt="competence image">
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="skill_bar reveal-4">
                        <div class="teamskillbar" data-percent="88%">
                            <h6>PHP / Symfony</h6>
                            <div class="teamskillbar-bar"></div>
                        </div>
                        <div class="teamskillbar" data-percent="80%">
                            <h6>JavaScript / Ajax</h6>
                            <div class="teamskillbar-bar"></div>
                        </div>
                        <div class="teamskillbar" data-percent="88%">
                            <h6>HTML / CSS</h6>
                            <div class="teamskillbar-bar"></div>
                        </div>
                        <div class="teamskillbar" data-percent="80%">
                            <h6>Vue JS</h6>
                            <div class="teamskillbar-bar"></div>
                        </div>
                        <div class="teamskillbar" data-percent="88%">
                            <h6>Base de données / API</h6>
                            <div class="teamskillbar-bar"></div>
                        </div>
                        <div class="teamskillbar" data-percent="80%">
                            <h6>Référencement SEO</h6>
                            <div class="teamskillbar-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="main_portfolio reveal">
            <div class="col-md-8 col-md-offset-2">
                <div class="head_title text-center">
                    <h1 class="reveal-1 portfolio-title">Portfolio</h1>
                    <div class="separator_auto_black reveal-4"></div>
                    <p class="reveal-2 portfolio-subtitle pull-left">Voici quelques exemples de mes réalisations</p>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 reveal-3">
                        <div class="col-md-4">
                            <div class="portfolio_item">
                                <img src="{{ asset('images/webshop.jpg') }}" alt="romdev site"/>
                                <div class="portfolio_hover text-center">
                                    <h6>e-commerce Web-shop</h6>
                                    <p>Boutique en ligne, Symfony et VueJs</p>
                                    <div class="portfolio_hover_icon">
                                        <a href="{{ asset('images/webshop.jpg') }}" class="popup-img"
                                           title="webshop"><i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio_item">
                                <img src="{{ asset('images/growup.jpg') }}" alt="application de gestion"/>
                                <div class="portfolio_hover text-center">
                                    <h6>Grow-Up App</h6>
                                    <p>Web app pour culture florales, Javascript et NodeJs</p>
                                    <div class="portfolio_hover_icon">
                                        <a href="{{ asset('images/growup.jpg') }}" class="popup-img" title="growup"><i
                                                    class="fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio_item">
                                <img src="{{ asset('images/devlab.jpg') }}" alt="romdev site web"/>
                                <div class="portfolio_hover text-center">
                                    <h6>Plateforme DevLab</h6>
                                    <p>Mon site perso fait avec plusieurs technologies
                                        back/front-end</p>
                                    <div class="portfolio_hover_icon">
                                        <a href="{{ asset('images/devlab.jpg') }}" class="popup-img" title="devlab"><i
                                                    class="fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 reveal-3">
                        <div class="col-md-4">
                            <div class="portfolio_item">
                                <img src="{{ asset('images/studio44.jpg') }}"
                                     alt="interface administration"/>
                                <div class="portfolio_hover text-center">
                                    <h6>Site du Studio 44</h6>
                                    <p>Site portail du Studio 44, photographies et design web</p>
                                    <div class="portfolio_hover_icon">
                                        <a href="{{ asset('images/studio44.jpg') }}" class="popup-img"><i
                                                    title="studio 44" class="fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio_item">
                                <img src="{{ asset('images/agency.jpg') }}" alt="application"/>
                                <div class="portfolio_hover text-center">
                                    <h6>Site Web-immo .co</h6>
                                    <p>Site web d'une agence immobilière en ligne</p>
                                    <div class="portfolio_hover_icon">
                                        <a href="{{ asset('images/agency.jpg') }}" class="popup-img"
                                           title="dashboard3"><i
                                                    class="fa fa-search-plus"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 logo">
                            <div class="reveal-4 text-center">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span><img src="{{ asset('images/symfony.png') }}" width="12%"
                                                           alt="symfony"/></span>
                                        <span><img src="{{ asset('images/php.png') }}" width="15%"
                                                   alt="php"/></span>
                                        <span><img src="{{ asset('images/vuejs.png') }}" width="12%"
                                                   alt="vuejs"/></span>
                                        <span><img src="{{ asset('images/js.png') }}" width="10%"
                                                   alt="javascript"/></span>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-12 logo-title">
                                        <p class="reveal-4">Vous trouverez plus de détails techniques sur la
                                            structure et le code des projets en visitant le development-Lab</p>

                                        <a href="https://romdev.info" target="_blank" rel="noopener"
                                           class="btn btn-action" role="button" title="romdev">accéder au Lab</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container text-center">
                    <a href="https://romdev.info" target="_blank" rel="noopener"
                       class="btn btn-primary more-projet" role="button" title="romdev-website">Voir plus de
                        projets</a>
                </div>
            </div>
        </div>
    </section>
    <section class="domaine-application">
        <div class="container-fluid reveal domaine-app" id="domaines">
            <h3 class="text-center section-title-medium reveal-1">Mes prestations en tant que freelance</h3>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 reveal">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/PinClipart.com_custom-clipart_152805.png') }}"
                             alt="Card image cap"/>
                        <div class="card-body h-body">
                            <h4 class="card-text card-title reveal-3 text-center">Application de gestion</h4>
                            <p class="reveal-4"> - Analyse conceptuelle des données et création / modification de bases
                                de données.</p>
                            <p class="reveal-4"> - Création de modules complémentaires sur un projet existant.</p>
                            <p class="reveal-4"> - Développement de plateformes de gestion de contenu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 reveal">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/ecommerce.png') }}" alt="Card image cap-2">
                        <div class="card-body h-body">
                            <h4 class="card-text card-title reveal-1 text-center">Conception de site web</h4>
                            <p class="card-text reveal-2">- Conception & développement de votre site web sur
                                mesure, e-commerce, blog, catalogue, événementiel...</p>
                            <p class="card-text reveal-2"> - Design adaptable sur tous support, 100% responsive</p>
                            <p class="card-text reveal-2"> - Site One-page ou Single-page application</p>
                            <p class="reveal-4"> - Optimisation SEO des pages web pour un meilleur référencement Google.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 reveal">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/rubrique.png') }}" alt="administration"/>
                        <div class="card-body h-body">
                            <h4 class="reveal-2 card-text card-title text-center">Interface d'administration</h4>
                            <p class="reveal-3"> - Création d'interface d'administration personnalisée</p>
                            <p class="reveal-3">Avec un back-office intuitif simplifié,
                                vous pourrez gérer et mettre à jour votre site en toute indépendance.</p>
                            <p class="reveal-3"> - Développement d'un dashboard de statistiques et de graphiques,
                                tableaux adapté a votre projet</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 reveal">
                    <div class="card">
                        <img class="card-img-top" src="{{ asset('images/hebergement.png') }}" alt="hebergement web"/>
                        <div class="card-body h-body">
                            <h4 class="reveal-3 card-text card-title text-center">Hébergement et référencement</h4>
                            <p class="reveal-4"> - Service de gestion d'hébérgement et de noms de domaine, garanti
                                d'accessibilité.</p>
                            <p class="reveal-4"> - Configuration et mise en production du projet sur un serveur ou sur
                                un hébergement mutualisé.</p>
                            <p class="reveal-4"> - Intégration régulière des dernières mises à jour de sécurité.</p>
                            <p class="reveal-4"> - Amélioration de la visibilité d'un domaine.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-ban text-center">
        <div class="container">
            <span class="contact-title">Construisons un site web ou une app qui va plaire à vos utilisateurs et clients. Un projet ou
                besoin de plus d’informations ? n'hésitez pas à me contacter</span>
        </div>
        <div class="separator_auto_black reveal-4"></div>
        <div class="container">
            <span id="email">romain.laurent23@gmail.com</span>
        </div>
        <div class="container">
            {% if app.request.hasPreviousSession %}
                {% for message in app.flashes('success') %}
                    <div class="container">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if not form.vars.valid %}
                <div class="container">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        Erreur dans le formulaire :(
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                <div class="container text-center" id="contact-form">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <div class="row">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="row">
                            {{ form_row(form.message) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="footer1 reveal">
            <div class="container text-center">
                <div class="row text-center">
                    <a href="#top" title="toTop">
                        <button id="backToTop"><i class="fa fa-angle-double-up fa-lg"></i></button>
                    </a>
                </div>
                <div class="container">
                    <span>© 2020 Romain Laurent - Rom-Dev Développeur web Freelance dans le Var</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
